* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.whitespace {
    height: 0px;
}

.skip {
    position: absolute;
    top: 10px;
    left: -999px;
    padding: 5px;
}

.skip:focus {
    left: 10px;
}

h1 {
    margin: 20px 0 0 0;
    padding-bottom: 20px;
    color: rgb(32, 97, 32);
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid rgb(32, 97, 32);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html {
    scroll-snap-type: y mandatory;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav {
    background-color: rgb(32, 97, 32);
    width: inherit;
    display: flex;
    justify-content: center;
}

.navbox {
    width: inherit;
    height: inherit;
    padding: 8px;
    margin: 0 2.5px 0 2.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.navbox:hover {
    background-color: rgb(255, 255, 255, 0.05);
    border-radius: 10px;
}

#history-header {
    scroll-snap-align: start;
}

header nav, header h1 {
    padding: 8px;
}

.decade-row:nth-child(1) {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(Website-Images/celtics1950s.jfif);
    background-size: cover;
    background-position: top center;
}

.decade-row:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(4, 101, 25, 0.5), rgba(4, 101, 25, 0.5)), url(Website-Images/jumperPic.jpeg);
}

.decade-row:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(Website-Images/celticsCourt.jpg);
}

.decade-row:nth-child(4) {
    background-image: linear-gradient(0deg, rgba(4, 101, 25, 0.5), rgba(4, 101, 25, 0.5)), url(Website-Images/larryBird.jpg);
}

.decade-row:nth-child(5) {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(Website-Images/celticsHeat.jpg);
}

.decade-row:nth-child(6) {
    background-image: linear-gradient(0deg, rgba(4, 101, 25, 0.5), rgba(4, 101, 25, 0.5)), url(Website-Images/kgDramatic.jpg);
}

.decade-row:nth-child(7) {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(Website-Images/isaiahThomas.jpg);
}

.decade-row:nth-child(8) {
    background-image: linear-gradient(0deg, rgba(4, 101, 25, 0.5), rgba(4, 101, 25, 0.5)), url(Website-Images/jaylenBrown.jpg);
}

.decade-row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-bottom: 10px solid rgb(6, 57, 6);
    scroll-snap-align: start;
    background-size: cover;
    background-position: top center;
}

.decade-text {
    margin: 15px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
    background-color: #fff;
    max-width: 80%;
    cursor: pointer;
}

.decade-row h2, .decade-row h3 {
    text-align: center;
}

.decade-row h2:nth-child(2){
    text-transform: uppercase;
    font-weight: 700;
    color: darkgreen;
    margin: 5px 0 10px 0;
}

.decade-row h2:nth-child(1){
    color: darkgreen;
    font-weight: 200;
}

@media only screen and (max-width: 601px) {
    nav {
        flex-direction: column;
    }
    nav a {
        margin: 5px;
    }
}