body {background-color: #ffffff; margin: 5;}
h1, h2, h3, h4 {color: #007A33;}
h1:hover, h2:hover, h3:hover, h4:hover {color: #BA9653;}
a {color: #007A33;}
table {border-collapse: collapse; border: 1px solid black; line-height: 2rem; width: 55rem;}
.evenrow {border-collapse: collapse; background-color: #d5fddd;}
nav {min-width: 275px; background-color: #d5fddd; border: solid black .04rem; padding: 15px; margin-bottom: 30px; display: flex;}
nav a {color:#007A33; margin: 0 10px;}
.footertext {float: right}
#img1 {float: left; margin: 0 10px 10px 0}
.clear {clear: both}
.maintext {width: 80%;}
.row1, .row2 {background-color: rgb(0, 122, 51, .15); display: flex; padding: 5px; margin: 25px; border-radius: 3rem;}
.col1, .col2 {margin: 25px}
.row2 .col1 {font-size: larger; padding-right: 50px;}
.row1 {min-width: 450px;}
.row2 {min-width: 55%; margin-left: 75px; align-items: center; justify-content: space-around;}